<h1>Page!!</h1>{% extends 'adminpanel/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<!-- templates/adminpanel/dashboard.html -->
<div class="min-h-screen flex bg-gray-100">

    <!-- Sidebar -->
    {% include 'adminpanel/partials/sidebar.html' %}

    <!-- Main content -->
    <section class="flex-1 p-6">
        <h1 class="text-2xl font-semibold mb-4">page</h1>
        <div class="bg-white shadow rounded-lg p-6">
            <p>Welcome to your page dashboard.</p>
        </div>
    </section>

</div>


{% endblock %}